.footer {
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;

        .email-digest {
            background-color: $primary-color;
            background-image: url("../img/background.png");
            background-repeat: no-repeat;
            background-position: top right;
            border-radius: 12px;
            margin-bottom: 84px;

            &__wrapper {
                padding: 72px 242px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 48px;

                @media (max-width: 1200px) {
                    padding: 72px 10px;
                }
            }

            &__heading {
                font-family: $manrope;
                font-size: 48px;
                line-height: 72px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $light-color;

                @media (max-width: 900px) {
                    font-size: 32px;
                    line-height: 48px;
                }
            }

            &__form {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 24px;

                @media (max-width: 900px) {
                    flex-direction: column;
                    width: 100%;
                }
            }

            &__input {
                display: inline-block;
                width: 370px;
                padding: 12px 32px;
                border: 2px solid $light-color;
                background-color: $light-color;
                border-radius: 240px;
                font-family: $opensans;
                font-size: 20px;
                line-height: 32px;
                display: flex;
                align-items: flex-start;
                color: $dark-color;

                @media (max-width: 600px) {
                    width: 90%;
                }
            }
        }

        .footer-content {
            display: flex;
            align-items: flex-start;
            gap: 179px;
            padding: 100px 0 117px 0;

            @media (max-width: 900px) {
                flex-direction: column-reverse;
                align-items: center;
                padding: 80px 0 97px 0;
                gap: 139px;
            }

            @media (max-width: 600px) {
                gap: 119px;
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 300px;

                @media (max-width: 900px) {
                    width: 100%;
                }

                .logo {
                    margin-bottom: 40px;

                    &__image {
                        height: 41px;
                        width: 156px;
                    }
                }
            }

            &__heading {
                margin-bottom: 64px;
            }

            &__heading,
            &__copyright {
                font-family: $opensans;
                font-size: 16px;
                line-height: 28px;
                color: $secondary-color;
            }

            &__columns {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 96px;

                @media (max-width: 600px) {
                    gap: 46px;
                }

                .actions-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &__label {
                        font-family: $opensans-bold;
                        font-size: 20px;
                        line-height: 32px;
                        color: $dark-color;
                        margin-bottom: 32px;
                    }

                    &__wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 172px;
                    }

                    &__item {
                        display: flex;
                        align-items: center;
                        font-family: $opensans;
                        font-size: 20px;
                        line-height: 32px;
                        color: $secondary-color;
                    }

                    &__button {
                        position: relative;
                        right: -8px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}
