$opensans: "OpenSans-Regular";
$opensans-semibold: "OpenSans-Semibold";
$opensans-bold: "OpenSans-Bold";
$manrope: "Manrope-Regular";
$manrope-bold: "Manrope-Bold";

$dark-color: #000000;
$light-color: #FFFFFF;
$primary-color: #0A2640;
$secondary-color: #777777;
$accent-color: #65E4A3;

$max-width: 1200px;
